<h2><%= @user.name %></h2>
<h3>Groups</h3>
<ul>
  <%= for group <- @user.groups do %>
  <li>
    <%= link group.name, to: group_path(@conn, :show, group) %>
  </li>
  <% end %>
</ul>

<span><%= link "Back", to: page_path(@conn, :index) %></span>
